
.mainfooter{
  display: flex;
  background-color:rgb(11, 6, 6) ;
  color: whitesmoke;
  font-size: 18px;
  font-family: sans-serif;
  margin: -10px
  
 
}
.firstfooter,.secondfooter,.thirdfooter,.fourthfooter{
  flex: 1;
  padding: 45px;
}
a{
  color: rgb(121, 120, 120);
  text-decoration: none;
  
}
a:hover{
  color: white;
  
}
.firstfooter{
  text-align: center;
}
.firstfooter > h2{
  font-weight: bold;
  font-size:25px;
}
.firstfooter>p{
  color:rgb(121, 120, 120) ;
}
